.Heading{
  color: rgba(0, 0, 255, 0.63);
  text-shadow: 2px 2px 2px rgba(216, 33, 176, 0.541);

}

.GirlName{
  background-color: rgba(216, 33, 176, 0.541);
}

.BoyName{
  background-color: rgba(0, 0, 255, 0.63);
}

.GirlName, .BoyName{
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
  
}

.ListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border:2px solid rgba(0, 0, 255, 0.63);
  margin: 30px;
  padding: 30px;
  box-shadow: 4px 4px 4px grey;
}

.MainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ----------------------------------Favourites Section --------------------- */
.FavouritesHeading{
  color: rgb(119, 115, 115);
}

.FavouritesContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
 
}

.FavoritesMainContainer{
  width: 90%;
  margin-bottom: 20px;
}
